@import "tailwindcss";

:root {
   --backgroundMain: #ffffff;
   --textMainColor: #121212;
}

@theme inline {
   --color-background: var(--backgroundMain);
   --color-foreground: var(--textMainColor);
   --font-bitsumishi: var(--font-bitsumishi);
   --font-roboto: var(--font-roboto);
   --font-ubuntu: var(--font-ubuntu);
}

@media (prefers-color-scheme: dark) {
   :root {
      --backgroundMain: black;
      --textMainColor: #ffffff;
   }
}

body {
   background: var(--backgroundMain);
   color: var(--textMainColor);
   font-family: var(--font-ubuntu);
   font-size: 16px;
   line-height: 1;
   height: 100dvh;
}
